# requirements.txt
# Зависимости для работы приложения Text Image Mesh Tool

flet==0.27.6             # UI-фреймворк (Flutter + Python)
flet-cli==0.27.6
flet-desktop==0.27.6
flet-web==0.27.6         
numpy==2.2.5             # Математические операции, работа с массивами
opencv-python==4.11.0.86 # Обработка изображений
scipy==1.15.2            # Кубические сплайны для построения сетки
